.video-background {
    position: fixed; 
    top: 0;
    left: 0;
    width: 100vw; 
    height: 100vh; 
    overflow: hidden;
    z-index: -1; 
}

video.overlay {
    width: 100%;
    height: 100%;
    object-fit: cover; 
}

.overlay-filter {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(7, 7, 7, 0.2); 
    z-index: 1; 
}

.content h1 {
    top: 100px;
    margin: 80px; 
    position: absolute; 
    z-index: 2; 
    text-align: center;
    color: white; 
    font-size: 3rem; 
}
/*---------------------------------------------------------------*/
main {
    position: relative; /* Para garantir que o conteúdo se comporte normalmente */
    height: 100vh; /* Faz o main ocupar 100% da altura da tela */
    display: flex;
    justify-content: center; /* Centraliza o conteúdo horizontalmente */
    align-items: center; /* Centraliza o conteúdo verticalmente */
    overflow: hidden; /* Impede que o conteúdo se sobreponha ao vídeo */
}

.botao-container {
    position: absolute; /* Para garantir que fique no lugar certo */
    bottom: 20px; /* Distância do botão da parte inferior da tela */
    left: 50%; /* Centraliza horizontalmente */
    transform: translateX(-50%); /* Ajusta para centralizar perfeitamente */
    z-index: 999; /* Garante que o botão fique acima do vídeo */
}

.btn-teste {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #ff2900;
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: background 0.3s;
}

.btn-teste:hover {
    background-color: #d11f00;
}









