td {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 15rem;
}

.button_search {
    border: none;
    border-radius: 7px;
    background: var(--detail-color);
    color: white;
}

.button_icon {
    background: transparent;
    border: none;
}

.button_icon img:hover{
    transform: scale(1.2);
}

.search_input input {
    border-radius: 7px;
    border: 1px solid rgba(0, 0, 0, 0.50);
    background: var(--bg1-color);
    padding: 0.5rem;
    width: 25rem;
}

.search_input input:focus-visible {
    border-color: var(--detail-color);
}

.table_header th {
    background-color: var(--nav-color);
    color: white;
}

.table_body td {
    background-color: var(--bg1-color);
}

.table_rounded {
    border-collapse: separate;
    border-spacing: 0;
}

.table_rounded tr:first-child th:first-child {
    border-top-left-radius: 10px;
}

.table_rounded tr:first-child th:last-child {
    border-top-right-radius: 10px;
}

.table_rounded tr:last-child td:first-child {
    border-bottom-left-radius: 10px;
}

.table_rounded tr:last-child td:last-child {
    border-bottom-right-radius: 10px;
}

.dropdown {
    list-style: none;
}

.item-table a::after {
    display: none;
}

.actions {
    overflow: visible;
}

.dropdown-item:active {
    background-color: white;
}

@media (max-width: 650px) {
    .search_input input {
        width: 10rem;
    }
}