.video-background {
    position: fixed;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.video-background video {
    top: 0;
    left: 0;
    width: 100vw;
    height: 89vh; 
    object-fit: cover;
   
}

.overlay {
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh; 
    z-index: 2;
    background: rgba(0, 0, 0, 0.5);
}