:root {
    --nav-color: #00000A;
    --detail-color: #FF2900;
    --bg1-color: #FEFEFE;
    --bg2-color: #EEEEEE;
}

body {
    background-color: var(--bg2-color);
}

header {
    background-color: var(--nav-color);
    border-bottom: var(--detail-color) 5px solid;
}

.logo {
    width: 10rem;
    height: 4rem;
}

.nav-link {
    color: inherit;
    text-decoration: none;
    font-size: 1.20rem;
    font-weight: 500;
}

.navbar-nav .nav-link.show, .nav-link:focus {
    color: inherit;
}

.nav-link:hover {
    color: #FF2900;
    filter: none;
    transform: scale(1.1);
    animation: swing 0.5s;
}

.nav-link.active {
    animation: pulse 1.5s infinite;
}

.dropdown-item:hover {
    color: var(--detail-color);
    transition: color, 200ms;
}

/* Estilo geral para o footer */
footer {
    background-color: #00000A;  /* Fundo escuro para contraste */
    color: white;  /* Texto branco */
    padding: 20px 0;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;  /* Ocupa toda a largura da tela */
    z-index: 1000;  /* Garante que o footer fique sobre outros elementos */
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    height: 60px;
}

.footer-content h4 {
    margin: 0;
    font-size: 20px;
    font-weight: bold;
}


.social-icons {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.social-icons {
    display: inline-flex;
}

.social-icons img {
    width: 30px;
    height: 30px;
    transition: transform 0.3s;
}

.social-icon img:hover {
    transform: scale(1.1);

}

/* Responsividade */
@media (max-width: 768px) {
    .footer-container {
        flex-direction: column;
        align-items: center;
    }

    .social-icons {
        margin-top: 10px;
    }
}


/* Ícone do Facebook */
.facebook-icon svg {
    fill: #1877f2;
    transition: fill 0.3s;
}

.facebook-icon:hover svg {
    fill: #0e51a7;
}

/* Ícone do Twitter */
.twitter-icon svg {
    fill: #1da1f2;
    transition: fill 0.3s;
}

.twitter-icon:hover svg {
    fill: #0d8dd9;
}

/* Ícone do Instagram */
.instagram-icon svg {
    fill: #c32aa3; /* Cor padrão do Instagram */
    transition: fill 0.3s;
}

.instagram-icon:hover svg {
    fill: #e1306c; /* Cor ao passar o mouse */
}