:root {
    --nav-color: #00000A;
    --detail-color: #FF2900;
    --bg1-color: #FEFEFE;
    --bg2-color: #EEEEEE;
}

body {
    background-color: var(--bg2-color);
}

header {
    background-color: var(--nav-color);
    border-bottom: var(--detail-color) 5px solid;
}

.logo {
    width: 10rem;
    height: 4rem;
}

.nav-link {
    color: inherit;
    text-decoration: none;
    font-size: 1.20rem;
    font-weight: 500;
}

.navbar-nav .nav-link.show, .nav-link:focus {
    color: inherit;
}

/* .nav-link:hover {
    color: var(--detail-color);
    text-decoration: underline;
    transition: color, 200ms;
} */

.nav-link:hover ~ .nav-link {
    filter: blur(5px);
    opacity: 0.5;
    transform: scale(1.1);
    
}

.nav-link:hover {
    color: #FF2900;
    filter: none;
    opacity: 1;
    transform: scale(1.3);
}

.nav-link.active {
    animation: pulse 1.5s infinite; /* Chama a animação */
}


.nav-link:hover {
    animation: swing 0.5s; /* Executa a animação ao passar o mouse */
}


.dropdown-item:hover {
    color: var(--detail-color);
    transition: color, 200ms;
    animation: swing 0.5s;
    color: #FF2900;
    filter: none;
    opacity: 1;
    transform: scale(1);
    
}


@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.05); /* Aumenta levemente */
    }
    100% {
        transform: scale(1);
    }
}