:root {
    --nav-color: #00000A;
    --detail-color: #FF2900;
    --bg1-color: #FEFEFE;
    --bg2-color: #EEEEEE;
}

body {
    background-color: var(--bg1-color);
}

header {
    background-color: var(--nav-color);
    border-bottom: var(--detail-color) 5px solid;
}

.nav-link {
    color: inherit;
    text-decoration: none;
    font-size: 1.20rem;
    font-weight: 500;
}

.nav-link:hover {
    color: var(--detail-color);
    text-decoration: underline;
    transition: color, 200ms;
}