{% extends "cead/partials/base.html" %}

{% load static %}

{% block style %}
    <link rel="stylesheet" href="{% static 'css/tabela.css' %}">
    <link rel="stylesheet" href="{% static 'css/modal.css' %}">
{% endblock style %}

{% block title %} Curso {% endblock title %}

{% block content %}
    
    <main>
        {% if curso %}
            <h2>Curso Relacionado: {{ curso.nome }}</h2>
            <p>Descrição: {{ curso.sobre }}</p>
            <p>ID: {{ curso.id }}</p>
        {% else %}
            <p>Este coordenador não está relacionado a nenhum curso.</p>
        {% endif %}
    </main>

{% endblock content %}