{% extends "cead/partials/base.html" %}

{% load static %}

{% block style %}
    <link rel="stylesheet" href="{% static 'css/tabela.css' %}">
    <link rel="stylesheet" href="{% static 'css/modal.css' %}">
{% endblock style %}

{% block title %} Curso {% endblock title %}

{% block content %}
    
    <main>

        <nav aria-label="breadcrumb" style="color: #FF2900;">
            <ol class="breadcrumb" style="color: #FF2900;">
                {% for crumb in breadcrumbs %}
                    <li class="breadcrumb-item" style="color: #FF2900;">
                        {{ crumb.name }}
                    </li>
                {% endfor %}
            </ol>
        </nav>
        
        

        {% if curso %}
            <h2>Curso Relacionado: {{ curso.nome }}</h2>
            <p>Descrição: {{ curso.sobre }}</p>
            <p>ID: {{ curso.id }}</p>
        {% else %}
            <p>Este coordenador não está relacionado a nenhum curso.</p>
        {% endif %}
    </main>

{% endblock content %}