<!-- Criar -->
<div class="modal fade" id="modalCriarPolo" tabindex="-1" aria-labelledby="modalCriarPoloLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header justify-content-center">
                <h5 class="modal-title d-flex justify-content-center" id="modalCriarPoloLabel">Polo</h5>
            </div>
            <div class="modal-body">
                <form id="formCriarPolo" method="post" action="{% url 'cead:polo_lista' %}">
                    {% csrf_token %}
                    
                    <div class="input">
                        {{ make_polo.as_p }}
                    </div>
                    <div class="justify-content-center">
                        <button type="submit" class="btn d-flex justify-content-center">Salvar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function() {
        $('#formCriarPolo').on('submit', function(e) {
            e.preventDefault();
            $.ajax({
                type: 'POST',
                url: "{% url 'cead:criar_polo' %}",
                data: $(this).serialize(),
                success: function(response) {
                    if (response.success) {
                        alert("Polo criado com sucesso!");
                        location.reload();
                    } else {
                        alert("Erro ao criar polo: " + JSON.stringify(response.errors));
                    }
                }
            });
        });
    });
</script>