{% load static %}

<!-- Criar -->
<div class="modal fade" id="modalCriarCurso" tabindex="-1" aria-labelledby="modalCriarCursoLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header justify-content-between">
                <span></span>
                <h5 class="modal-title" id="modalCriarCursoLabel">Curso</h5>
                <button type="button" class="button_close" data-bs-dismiss="modal" aria-label="Close">
                    <img src="{% static 'images/icons/close.svg' %}" alt="" class="icons_action"></img>
                </button>
            </div>
            <div class="modal-body">
                <form id="formCriarCurso" method="post" action="{% url 'cead:curso_lista' %}">
                    {% csrf_token %}
                    
                    <div class="input">
                        {{ make_curso.as_p }}
                    </div>
                    <div class="d-flex justify-content-center">
                        <button type="submit" class="btn d-flex justify-content-center">Salvar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Vincular -->
<div class="modal fade" id="modalVincular" tabindex="-1" aria-labelledby="modalVincularLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header justify-content-between">
                <span></span>
                <h5 class="modal-title" id="modalVincularLabel">Curso</h5>
                <button type="button" class="button_close" data-bs-dismiss="modal" aria-label="Close">
                    <img src="{% static 'images/icons/close.svg' %}" alt="" class="icons_action"></img>
                </button>
            </div>
            <div class="modal-body">
                <form id="formVincular" method="post" action="{% url 'cead:curso_lista' %}">
                    {% csrf_token %}
                    
                    <div class="input">
                        {{ sync_curso.as_p }}
                    </div>
                    <div class="d-flex justify-content-center">
                        <button type="submit" class="btn d-flex justify-content-center">Salvar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script>
    $(document).ready(function() {
        $('#formCriarCurso').on('submit', function(e) {
            e.preventDefault();
            $.ajax({
                type: 'POST',
                url: "{% url 'cead:criar_curso' %}",
                data: $(this).serialize(),
                success: function(response) {
                    if (response.success) {
                        alert("Curso criado com sucesso!");
                        location.reload();
                    } else {
                        alert("Erro ao criar curso: " + JSON.stringify(response.errors));
                    }
                }
            });
        });

        $('#formVincular').on('submit', function(e) {
            console.log('a')
            e.preventDefault();
            $.ajax({
                type: 'POST',
                url: "{% url 'cead:criar_curso' %}",
                data: $(this).serialize(),
                success: function(response) {
                    if (response.success) {
                        alert("Curso criado com sucesso!");
                        location.reload();
                    } else {
                        alert("Erro ao criar curso: " + JSON.stringify(response.errors));
                    }
                }
            });
        });

        $('.close-btn').on('click', function() {
            $('#menuLateral').removeClass('open');
        });

    });
</script>