{% load static %}

<!-- Criar -->
<div class="modal fade" id="modalCriarPolo" tabindex="-1" aria-labelledby="modalCriarPoloLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header justify-content-between">
                <span></span>
                <h5 class="modal-title" id="modalCriarPoloLabel">Polo</h5>
                <button type="button" class="button_close" data-bs-dismiss="modal" aria-label="Close">
                    <img src="{% static 'images/icons/close.svg' %}" alt="" class="icons_action"></img>
                </button>
            </div>
            <div class="modal-body">
                <form id="formCriarPolo" method="post" action="{% url 'cead:polo_lista' %}">
                    {% csrf_token %}
                    
                    <div class="input">
                        {{ make_polo.as_p }}
                    </div>
                    <div class="d-flex justify-content-center">
                        <button type="submit" class="btn d-flex justify-content-center">Salvar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Excluir -->
<div class="modal fade" id="Excluir" tabindex="-1" aria-labelledby="Excluir" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content d-flex justify-content-center">
            <div class="modal-header d-flex justify-content-center position-relative">
                <span></span>
                <h5 class="modal-title text-center" id="Excluir">Confirmação de Exclusão</h5>
              
            </div>
            <div class="modal-body">
                <p class="text-center text-modal">
                    Tem certeza de que deseja excluir?
                </p>
            </div>
            <div class="modal-footer justify-content-center gap-5">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                <button type="button" id="confirmarExclusao" class="btn btn-danger">Excluir</button>
            </div>
        </div>
    </div>
</div>

<!-- Detalhar -->
<div class="modal fade" id="Detalhar" tabindex="-1" aria-labelledby="DetalharLabel" aria-hidden="true">

    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header d-flex justify-content-center position-relative">
                
                <h5 class="modal-title" id="DetalharLabel">Detalhes de Polo</h5>
                
            </div>
            <div class="modal-body">
                <div class="modal_info">
                    <h5>Cidade</h5>
                    <div class="modal_info_descricao">
                        <p id="detalheCidade"></p>
                    </div>
                </div>
                <div class="modal_info">
                    <h5>Gestor</h5>
                    <div class="modal_info_descricao">
                        <p id="detalheGestorr"></p>
                    </div>
                </div>
                <div class="modal_info">
                    <h5>Latitude</h5>
                    <div class="modal_info_descricao">
                        <p id="detalheLatitude"></p>
                    </div>
                </div>
                <div class="modal_info">
                    <h5>Longitude</h5>
                    <div class="modal_info_descricao">
                        <p id="detalheLongitude"></p>
                    </div>
                </div>
                <div class="modal_info">
                    <h5>Data de Publicação</h5>
                    <div class="modal_info_descricao">
                        <p id="detalhePublicacao"></p>
                    </div>
                </div>
                <div class="modal_info">
                    <h5>Data de Edição</h5>
                    <div class="modal_info_descricao">
                        <p id="detalheEdicao"></p>
                    </div>
                </div>
            </div>
            <div class="modal-footer d-flex justify-content-center">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
            </div>
        </div>
    </div>
</div>

<!-- Editar -->
<div id="Editar" class="modal fade" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header d-flex justify-content-center position-relative">
                
                <h5 class="modal-title">Editar Polo</h5>
                <button type="button" class="button_close p-0 position-absolute end-0 top-0 me-3 mt-2" data-bs-dismiss="modal" aria-label="Close">
                    <img src="{% static 'images/icons/close.svg' %}" alt="" class="icons_action"></img>
                </button>
            </div>
            <div class="modal-body">
                <form id="editarPoloForm">

                    <div class="mb-3">
                        <label for="editarCidade" class="form-label">Cidade</label>
                        <input class="form-control" id="editarCidade" name="cidade">
                    </input>
                    </div>
                    <div class="mb-3">
                        <label for="editarGestor" class="form-label">Gestor</label>
                        <select type="text" class="form-control" id="editarGestor" name="coordenador">
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="editarLatitude" class="form-label">Latitude</label>
                        <textarea class="form-control" id="editarLatitude" name="latitude"></textarea>
                    </div>
                    <div class="mb-3"></div>
                        <label for="editarLongitude" class="form-label">Longitude</label>
                        <textarea class="form-control" id="editarLongitude" name="longitude"></textarea>
                    </div>
                    <div class="d-flex justify-content-center">
                       <button type="button" class="btn btn-primary" id="salvarEdicao">
                            <span class="spinner-border spinner-border-sm d-none" role="status" aria-hidden="true"></span>
                            Salvar
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script>
    $(document).ready(function() {
        $('#formCriarPolo').on('submit', function(e) {
            e.preventDefault();
            $.ajax({
                type: 'POST',
                url: "{% url 'cead:criar_polo' %}",
                data: $(this).serialize(),
                success: function(response) {
                    if (response.success) {
                        alert("Polo criado com sucesso!");
                        location.reload();
                    } else {
                        alert("Erro ao criar polo: " + JSON.stringify(response.errors));
                    }
                }
            });
        });
        
        $('.button_icon').on('click', function() {
            poloId = $(this).data('id');
        });

        $('#confirmarExclusao').on('click', function() {
            if (poloId) {
                $.ajax({
                    type: 'POST',
                    url: `/excluir_polo/${poloId}/`, 
                    data: {
                        csrfmiddlewaretoken: '{{ csrf_token }}',
                    },
                    success: function(response) {
                        if (response.success) {
                            $(`tr[data-id="${poloId}"]`).remove();
                            $('#Excluir').modal('hide');
                        } else {
                            alert("Erro ao excluir polo.");
                        }
                    },
                    error: function(xhr, status, error) {
                        alert("Erro na requisição de exclusão: " + error);
                    }
                });
            } else {
                alert("Erro: ID do polo não encontrado.");
            }
        });

        $('.btn-detalhar').on('click', function() {
            let poloId = $(this).data('id');  
            
            $.ajax({
                type: 'GET',
                url: `/detalhar_polo/${poloId}/`, 
                success: function(response) {
                    console.log('a');
                    $('#detalheCidade').text(response.cidade);
                    $('#detalheGestor').text(response.gestor);
                    $('#detalheLatitude').text(response.latitude);
                    $('#detalheLongitude').text(response.longitude);
                    $('#detalhePublicacao').text(response.publicacao);
                    $('#detalheEdicao').text(response.edicao);
                },
                error: function(xhr, status, error) {
                    alert("Erro ao carregar detalhes do polo: " + error);
                }
            });
        });




        $('.btn-editar').on('click', function() {
            let poloId = $(this).data('id');
            $.ajax({
                type: 'GET',
                url: `/editar_polo/${poloId}/`,
                success: function(response) {
                    $('#editarCidade').val(response.cidade);
                    $('#editarLatitude').val(response.latitude);
                    $('#editarLongitude').val(response.longitude);

                    $('#editarGestor').empty();
                    response.gestores.forEach(function(gestor) {
                        let option = $('<option></option>').val(gestor.id).text(gestor.nome);
                        if (gestor.id === response.gestor) {
                            option.prop('selected', true);
                        }
                        $('#editarGestor').append(option);
                    });

                    $('#Editar').data('id', poloId);
                    $('#Editar').modal('show');
                },
                error: function() {
                    alert("Erro ao carregar dados do polo.");
                }
            });
        });


        $('#salvarEdicao').on('click', function() {
            let poloId = $('#Editar').data('id');
            let formData = {
                cidade: $('#editarCidade').val(),
                gestor: $('#editarGestor').val(),
                latitude: $('#editarLatitude').val(),
                longitude: $('#editarLongitude').val(),
                csrfmiddlewaretoken: $('[name=csrfmiddlewaretoken]').val()
            };

            $.ajax({
                type: 'POST',
                url: `/editar_polo/${poloId}/`,
                data: formData,
                success: function(response) {
                    if (response.success) {
                        alert("Polo atualizado com sucesso!");
                        location.reload();
                    } else {
                        alert("Erro ao atualizar polo: " + JSON.stringify(response.errors));
                    }
                },
                error: function() {
                    alert("Erro ao salvar as mudanças.");
                }
            });
        });
    });


    $('#salvarEdicao').on('click', function() {
    let spinner = $(this).find('.spinner-border');
    spinner.removeClass('d-none'); // Mostrar spinner
    // Processar salvamento...
    setTimeout(function() {
        spinner.addClass('d-none'); // Ocultar spinner após o processamento
    }, 2000); // Simulação do tempo de processamento
});
</script>