{% load static %}

<!-- Criar -->
<div class="modal fade" id="modalCriarCoordenador" tabindex="-1" aria-labelledby="modalCriarCoordenadorLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header justify-content-between">
                <span></span>
                <h5 class="modal-title" id="modalCriarCoordenadorLabel">Coordenador</h5>
                <button type="button" class="button_close" data-bs-dismiss="modal" aria-label="Close">
                    <img src="{% static 'images/icons/close.svg' %}" alt="" class="icons_action"></img>
                </button>
            </div>
            <div class="modal-body">
                <form id="formCriarCoordenador" method="post" action="{% url 'cead:coordenador_lista' %}">
                    {% csrf_token %}
                    
                    <div class="input">
                        {{ make_coordenador.as_p }}
                    </div>
                    <div class="d-flex justify-content-center">
                        <button type="submit" class="btn d-flex justify-content-center">Salvar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Vincular -->
<div class="modal fade" id="modalVincular" tabindex="-1" aria-labelledby="modalVincularLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header justify-content-between">
                <span></span>
                <h5 class="modal-title" id="modalVincularLabel">Coordenador - Curso</h5>
                <button type="button" class="button_close" data-bs-dismiss="modal" aria-label="Close">
                    <img src="{% static 'images/icons/close.svg' %}" alt="" class="icons_action"></img>
                </button>
            </div>
            <div class="modal-body">
                <form id="formVincular" method="post" action="{% url 'cead:coordenador_lista' %}">
                    {% csrf_token %}
                    <div class="input">
                        {{ sync_coordenador.as_p }}
                    </div>
                    <div class="d-flex justify-content-center">
                        <button type="submit" class="btn d-flex justify-content-center">Salvar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Excluir -->
<div class="modal fade" id="Excluir" tabindex="-1" aria-labelledby="Excluir" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content d-flex justify-content-center">
            <div class="modal-header d-flex justify-content-center position-relative">
                
                <h5 class="modal-title text-center" id="Excluir">Confirmação de Exclusão</h5>
                
            </div>
            <div class="modal-body">
                <p class="text-center text-modal">
                    Tem certeza de que deseja excluir?
                </p>
            </div>
            <div class="modal-footer justify-content-center gap-5">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                <button type="button" id="confirmarExclusao" class="btn btn-danger">Excluir</button>
            </div>
        </div>
    </div>
</div>

<!-- Detalhar -->
<div class="modal fade" id="Detalhar" tabindex="-1" aria-labelledby="DetalharLabel" aria-hidden="true">

    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header d-flex justify-content-center position-relative">
                <h5 class="modal-title" id="DetalharLabel">Detalhes de Coordenador</h5>
            </div>
            <div class="modal-body">
                <div class="mb-3">
                    <h5 class="mb-1">Curso</h5>
                    <div>
                        <p id="detalheCurso" class="form-control bg-light"></p>
                    </div>
                </div>
                <div class="mb-3">
                    <h5 class="mb-1">Nome</h5>
                    <div>
                        <p id="detalheNome" class="form-control bg-light"></p>
                    </div>
                </div>
                <div class="mb-3">
                    <h5 class="mb-1">E-mail</h5>
                    <div>
                        <p id="detalheEmail" class="form-control bg-light"></p>
                    </div>
                </div>
                <div class="mb-3">
                    <h5 class="mb-1">Telefone</h5>
                    <div>
                        <p id="detalheTelefone" class="form-control bg-light"></p>
                    </div>
                </div>
                <div class="mb-3">
                    <h5 class="mb-1">Situação</h5>
                    <div>
                        <p id="detalheSituacao" class="form-control bg-light"></p>
                    </div>
                </div>
                <div class="mb-3">
                    <h5 class="mb-1">Data de Publicação</h5>
                    <div>
                        <p id="detalhePublicacao" class="form-control bg-light"></p>
                    </div>
                </div>
                <div class="mb-3">
                    <h5 class="mb-1">Data de Edição</h5>
                    <div>
                        <p id="detalheEdicao" class="form-control bg-light"></p>
                    </div>
                </div>
                <div class="mb-3">
                    <h5 class="mb-1">Data de Saída</h5>
                    <div>
                        <p id="detalheSaida" class="form-control bg-light"></p>
                    </div>
                </div>
            </div>
            <div class="modal-footer d-flex justify-content-center">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
            </div>
        </div>
    </div>
</div>

<!-- Editar -->
<div id="Editar" class="modal fade" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header justify-content-center position-relative">
                <h5 class="modal-title">Editar Coordenador</h5>
                <button type="button" class="button_close p-0 position-absolute end-0 top-0 me-3 mt-2" data-bs-dismiss="modal" aria-label="Close">
                    <img src="{% static 'images/icons/close.svg' %}" alt="" class="icons_action" style="width: 30px; height: 30px;">
                </button>
            </div>

            <div class="modal-body">
                <form id="editarCoordenadorForm">
                    <div class="mb-3">
                        <label for="editarCurso" class="form-label">Curso</label>
                        <select id="editarCurso" name="curso" class="form-select">
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="editarNome" class="form-label">Nome</label>
                        <input type="text" class="form-control" id="editarNome" name="nome">
                    </div>
                    <div class="mb-3">
                        <label for="editarEmail" class="form-label">E-mail</label>
                        <textarea class="form-control" id="editarEmail" name="email"></textarea>
                    </div>
                    <div class="mb-3">
                        <label for="editarTelefone" class="form-label">Telefone</label>
                        <textarea class="form-control" id="editarTelefone" name="telefone"></textarea>
                    </div>
                    <div class="mb-3">
                        <label for="editarSaida" class="form-label">Data de saída</label>
                        <input type="date" class="form-control" id="editarSaida" name="saida">
                    </div>
                    <div class="d-flex justify-content-center">
                        <button type="button" class="btn btn-primary" id="salvarEdicao">
                            <span class="spinner-border spinner-border-sm d-none" role="status" aria-hidden="true"></span>
                            Salvar
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script>
    $(document).ready(function() {
        $('#formCriarCoordenador').on('submit', function(e) {
            e.preventDefault();
            $.ajax({
                type: 'POST',
                url: "{% url 'cead:criar_coordenador' %}",
                data: $(this).serialize(),
                success: function(response) {
                    if (response.success) {
                        alert("Coordenador criado com sucesso!");
                        location.reload();
                    } else {
                        alert("Erro ao criar coordenador: " + JSON.stringify(response.errors));
                    }
                }
            });
        });

        $('#formVincular').on('submit', function(e) {
            e.preventDefault();
            $.ajax({
                type: 'POST',
                url: "{% url 'cead:vincular_coordenador' %}",
                data: $(this).serialize(),
                success: function(response) {
                    if (response.success) {
                        alert("Coordenador vinculado com sucesso!");
                        location.reload();
                    } else {
                        alert("Erro ao criar coordenador: " + JSON.stringify(response.errors));
                    }
                }
            });
        });
        
        $('.button_icon').on('click', function() {
            dataId = $(this).data('id');
            [coordenadorId, cursoId] = dataId.split('-');
        });

        $('#confirmarExclusao').on('click', function() {
            if (coordenadorId && cursoId) {
                $.ajax({
                    type: 'POST',
                    url: `/excluir_coordenador/${coordenadorId}/?curso=${cursoId}`, 
                    data: {
                        csrfmiddlewaretoken: '{{ csrf_token }}',
                    },
                    success: function(response) {
                        if (response.success) {
                            $(`tr[data-id="${coordenadorId}-${cursoId}"]`).remove();
                            $('#Excluir').modal('hide');
                            location.reload();
                        } else {
                            alert("Erro ao excluir coordenador.");
                        }
                    },
                    error: function(xhr, status, error) {
                        alert("Erro na requisição de exclusão: " + error);
                    }
                });
            } else {
                alert("Erro: ID do coordenador não encontrado.");
            }
        });

        $('.btn-detalhar').on('click', function() {            
            if (!dataId || !dataId.includes('-')) {
                console.error("Formato inválido para data-id:", dataId);
                alert("Erro: botão configurado incorretamente.");
                return;
            }

            $.ajax({
                type: 'GET',
                url: `/detalhar_coordenador/${coordenadorId}/?curso=${cursoId}`, 
                success: function(response) {
                    $('#detalheCurso').text(response.curso);
                    $('#detalheNome').text(response.nome);
                    $('#detalheEmail').text(response.email);
                    $('#detalheTelefone').text(response.telefone);
                    $('#detalheSituacao').text(response.situacao);
                    $('#detalhePublicacao').text(response.publicacao);
                    $('#detalheEdicao').text(response.edicao);
                    $('#detalheSaida').text(response.saida);
                },
                error: function(xhr, status, error) {
                    alert("Erro ao carregar detalhes do coordenador: " + error);
                }
            });
        });



        $('.btn-editar').on('click', function() {
            $.ajax({
                type: 'GET',
                url: `/editar_coordenador/${coordenadorId}/?curso=${cursoId}`,  
                success: function(response) {
                    $('#editarNome').val(response.nome);
                    $('#editarEmail').val(response.email);
                    $('#editarTelefone').val(response.telefone);
                    $('#editarSituacao').val(response.situacao);
                    $('#editarSaida').val(response.saida);
                    $('#editarCurso').empty();
                    response.cursos.forEach(function(curso) {
                        let option = $('<option></option>').val(curso.id).text(curso.nome);
                        if (curso.id === response.curso) {
                            option.prop('selected', true);
                        }
                        $('#editarCurso').append(option);
                    });

                    $('#Editar').data('id', `${coordenadorId}-${cursoId}`);
                    $('#Editar').modal('show');
                },
                error: function() {
                    alert("Erro ao carregar dados do coordenador.");
                }
            });
        });


        $('#salvarEdicao').on('click', function() {
            let formData = {
                nome: $('#editarNome').val(),
                curso: $('#editarCurso').val(),
                email: $('#editarEmail').val(),
                telefone: $('#editarTelefone').val(),
                saida: $('#editarSaida').val(),
                csrfmiddlewaretoken: $('[name=csrfmiddlewaretoken]').val()
            };

            $.ajax({
                type: 'POST',
                url: `/editar_coordenador/${coordenadorId}/?curso=${cursoId}`,
                data: formData,
                success: function(response) {
                    if (response.success) {
                        alert("Coordenador atualizado com sucesso!");
                        location.reload();
                    } else {
                        alert("Erro ao atualizar coordenador: " + JSON.stringify(response.errors));
                    }
                },
                error: function() {
                    alert("Erro ao salvar as mudanças.");
                }
            });
        });
    });

    $('#salvarEdicao').on('click', function() {
    let spinner = $(this).find('.spinner-border');
    spinner.removeClass('d-none'); // Mostrar spinner
    // Processar salvamento...
    setTimeout(function() {
        spinner.addClass('d-none'); // Ocultar spinner após o processamento
    }, 2000); // Simulação do tempo de processamento
});
</script>