<div class="modal fade" id="modalCriarNoticia" tabindex="-1" aria-labelledby="modalCriarNoticiaLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalCriarNoticiaLabel">Notícia</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="formCriarNoticia" method="post" action="{% url 'cead:noticia_lista' %}">
                    {% csrf_token %}
                    {{ make_noticia.as_p }}
                    <button type="submit" class="btn btn-success">Salvar</button>
                </form>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function() {
        // Enviar formulário via AJAX
        $('#formCriarNoticia').on('submit', function(e) {
            e.preventDefault();
            $.ajax({
                type: 'POST',
                url: "{% url 'cead:criar_noticia' %}",
                data: $(this).serialize(),
                success: function(response) {
                    if (response.success) {
                        alert("Notícia criada com sucesso!");
                        location.reload();  // Recarrega a página para atualizar a lista de notícias
                    } else {
                        alert("Erro ao criar notícia: " + JSON.stringify(response.errors));
                    }
                }
            });
        });
    });
</script>