<!-- Excluir -->
<div class="modal fade" id="Excluir" tabindex="-1" aria-labelledby="Excluir" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="Excluir">Confirmação de Exclusão</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Tem certeza de que deseja excluir?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                <button type="button" id="confirmarExclusao" class="btn btn-danger">Excluir</button>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function() {
        let noticiaId;

        $('.button_delete').on('click', function() {
            noticiaId = $(this).data('id');
        });

        $('#confirmarExclusao').on('click', function() {
            if (noticiaId) {
                $.ajax({
                    type: 'POST',
                    url: `/excluir_noticia/${noticiaId}/`, 
                    data: {
                        csrfmiddlewaretoken: '{{ csrf_token }}',
                    },
                    success: function(response) {
                        if (response.success) {
                            $(`tr[data-id="${noticiaId}"]`).remove();
                            $('#Excluir').modal('hide');
                        } else {
                            alert("Erro ao excluir notícia.");
                        }
                    },
                    error: function(xhr, status, error) {
                        alert("Erro na requisição de exclusão: " + error);
                    }
                });
            } else {
                alert("Erro: ID da notícia não encontrado.");
            }
        });
    });
</script>