{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="https://kit.fontawesome.com/096df0158b.js" crossorigin="anonymous"></script>
    <title> {% block title %} {% endblock title %} </title>
</head>
<body>
    
    <header>
        <div>
            <i class="fa-solid fa-house"></i>
            <img src="" alt="">
            <i class="fa-solid fa-right-from-bracket"></i>
        </div>
        <div>

        </div>
    </header>

    {% block content %}
    {% endblock content %}

</body>
</html>