{% extends "app/partials/base.html" %}

{% load static %}

{% block style %}
  <link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock style %}
{% block title %} Home | CEAD {% endblock title %}

{% block content %}
    
    <main>

        <div class="video-background">
          
            <video class="overlay" autoplay loop muted playsinline>
              
              <source src="{% static 'images/video/if.mp4' %}" type="video/mp4">
              Seu navegador não suporta vídeos HTML5.
            </video> 

            <!-- <div class="content"></div>
              <h1>Bem-vindo ao Meu Site</h1>
            </div> -->
        
        </div>
    </main>



{% endblock content %}