{% extends "cead/partials/base.html" %}

{% load static %}

{% block style %}
    <link rel="stylesheet" href="{% static 'css/tabela.css' %}">
    <link rel="stylesheet" href="{% static 'css/modal.css' %}">
{% endblock style %}

{% block title %} Curso {% endblock title %}

{% block content %}
    
    <main>
        <h1 class="container d-flex justify-content-center mt-3">Curso</h1>
        
        <div class="d-flex mx-4 gap-3 jus">
            <form method="get" class="search_input d-flex p-0">
                {{ search_curso.query }}
                <button type="submit" class="p-2 ms-1 button_search">
                    <img src="{% static 'images/icons/search.svg' %}" alt="" class="icons_action"></img>
                </button>
            </form>
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modalCriarPolo">
                Criar
            </button>
        </div>
        <div class="table-responsive mx-4">
            <table class="table table-hover mt-3 table_rounded">
                <thead>
                    <tr class="text-center table_header">
                        <th>Nome</th>
                        <th>Sobre</th>
                        <th>Data de Publicação</th>
                        <th>Data de Edição</th>
                        <th>Ação</th>
                    </tr>
                </thead>
                <tbody>
                    {% for curso in cursos %}
                        <tr class="text-center table_body" data-id="{{ curso.id }}">
                            <td>{{ curso.nome }}</td>
                            <td>{{ curso.sobre }}</td>
                            <td>{{ curso.publicacao|date:"d/m/Y" }}</td>
                            <td>{{ curso.edicao|date:"d/m/Y" }}</td>
                            <td>
                                <div class="icons_action d-flex justify-content-center gap-2">
                                    <button class="button_icon btn-more" data-bs-toggle="modal" data-bs-target="#More" data-id="{{ curso.id }}">
                                        <img src="{% static 'images/icons/more.svg' %}" alt="More"></img>
                                    </button>
                                </div>
                                
                            </td>
                        </tr>

                    {% empty %}
                        <tr>
                            <td colspan="4">Nenhum Curso encontrado.</td>
                        </tr>
                    {% endfor %}
                </tbody>
              </table>
        </div>

        {% include "cead/partials/modais_polo.html" %}
    </main>

{% endblock content %}