{% extends "cead/partials/base.html" %}

{% load static %}

{% block style %}
    <link rel="stylesheet" href="{% static 'css/tabela.css' %}">
    <link rel="stylesheet" href="{% static 'css/modal.css' %}">
{% endblock style %}

{% block title %} Informações | {{ curso.nome }} {% endblock title %}

{% block content %}
    
    <main>
        <h1>{{ curso.nome }}</h1>
        <p><strong>Descrição:</strong> {{ curso.sobre }}</p>
        <p><strong>Data de Publicação:</strong> {{ curso.publicacao|date:"d/m/Y" }}</p>
        <p><strong>Data de Edição:</strong> {{ curso.edicao|date:"d/m/Y" }}</p>

        <h2>Notícias Relacionadas</h2>
        <table class="table table-hover mt-3 table_rounded">
            <thead>
                <tr class="text-center table_header">
                    <th>Curso</th>
                    <th>Título</th>
                    <th>Descrição</th>
                    <th>Publicação</th>
                    <th>Edição</th>
                    <th>Ação</th>
                </tr>
            </thead>
            <tbody>
                {% for noticia in noticias %}
                    <tr class="text-center table_body" data-id="{{ noticia.id }}">
                        <td>{{ noticia.curso }}</td>
                        <td>{{ noticia.titulo }}</td>
                        <td>{{ noticia.descricao }}</td>
                        <td>{{ noticia.publicacao|date:"d/m/Y" }}</td>
                        <td>{{ noticia.edicao|date:"d/m/Y" }}</td>
                        <td>
                            <div class="icons_action d-flex justify-content-center gap-2">
                                <button class="button_icon btn-editar" data-id="{{ noticia.id }}" data-bs-target="#Editar">
                                    <img src="{% static 'images/icons/edit.svg' %}" alt=""></img>
                                </button>
                                <button class="button_icon btn-detalhar" data-bs-toggle="modal" data-bs-target="#Detalhar" 
                                data-id="{{ noticia.id }}">
                                    <img src="{% static 'images/icons/visibility.svg' %}" alt=""></img>
                                </button>
                                <button class="button_icon button_delete" data-bs-toggle="modal" data-bs-target="#Excluir" data-id="{{ noticia.id }}">
                                    <img src="{% static 'images/icons/delete.svg' %}" alt=""></img>
                                </button>
                            </div>
                        </td>
                    </tr>

                {% empty %}
                    <tr>
                        <td colspan="6">Nenhuma notícia encontrada.</td>
                    </tr>
                {% endfor %}
            </tbody>
          </table>
    </main>

{% endblock content %}