{% extends "cead/partials/base.html" %}

{% load static %}

{% block style %}
    <link rel="stylesheet" href="{% static 'css/tabela.css' %}">
    <link rel="stylesheet" href="{% static 'css/modal.css' %}">
{% endblock style %}

{% block title %} Informações | {{ cursos.nome }} {% endblock title %}

{% block content %}
    
    <main>
        <h1 class="container d-flex justify-content-center mt-3">{{ cursos.nome }}</h1>

        <div class="container_coordenador">
            <h4 class="text-center mt-3">Coordenador:</h4>
            {% for coordenador in coordenadores %}
                <div class="text-center">
                    <h5>{{ coordenador.nome }}</h5>
                </div>
                <tr class="text-center table_body">
                    <td>{{ curso_polo.polo.cidade }}</td>
                </tr>
            {% empty %}
                    <td class="text-center">Este curso não possui nenhum coordenador.</td>
            {% endfor %}
        </div>

        <div class="container_polo">
            <div class="table-responsive mx-4">
                <table class="table table-hover mt-3 table_rounded">
                    <thead>
                        <tr class="text-center table_header">
                            <th>Polo</th>
                            <th>Publicação</th>
                            <th>Edição</th>
                            <th>Ação</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for curso_polo in curso_polos %}
                            <tr class="text-center table_body">
                                <td>{{ curso_polo.polo.cidade }}</td>
                                <td>{{ curso_polo.polo.publicacao |date:"d/m/Y" }}</td>
                                <td>{{ curso_polo.polo.edicao |date:"d/m/Y" }}</td>
                                <td>
                                    <div class="icons_action d-flex justify-content-center gap-2">
                                        <button class="button_icon btn-editar" data-id="{{ curso_polo.id }}" data-bs-target="#EditarCursoPolo">
                                            <img src="{% static 'images/icons/edit.svg' %}" alt=""></img>
                                        </button>
                                        <button class="button_icon btn-detalhar btn-detalhar-cursoPolo" data-id="{{ curso_polo.id }}" id="DetalharCursoPolo" data-bs-toggle="modal" data-bs-target="#DetalharCursoPolo">
                                            <img src="{% static 'images/icons/visibility.svg' %}" alt=""></img>
                                        </button>
                                        <button class="button_icon button_delete" data-bs-toggle="modal" data-bs-target="#ExcluirCursoPolo" data-id="{{ curso_polo.id }}">
                                            <img src="{% static 'images/icons/delete.svg' %}" alt=""></img>
                                        </button>
                                    </div>
                                </td>
                            </tr>
                        {% empty %}
                            <tr>
                                <td class="text-center" colspan="7">Este curso ainda não está relacionado a nenhum polo.</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

        <div class="container_noticia">
            <h4 class="text-center mt-3">Notícias</h4>
            <div class="table-responsive mx-4">
                <table class="table table-hover mt-3 table_rounded">
                    <thead>
                        <tr class="text-center table_header">
                            <th>Curso</th>
                            <th>Título</th>
                            <th>Descrição</th>
                            <th>Publicação</th>
                            <th>Edição</th>
                            <th>Ação</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for noticia in noticias %}
                            <tr class="text-center table_body" data-id="{{ noticia.id }}">
                                <td>{{ noticia.curso }}</td>
                                <td>{{ noticia.titulo }}</td>
                                <td>{{ noticia.descricao }}</td>
                                <td>{{ noticia.publicacao|date:"d/m/Y" }}</td>
                                <td>{{ noticia.edicao|date:"d/m/Y" }}</td>
                                <td>
                                    <div class="icons_action d-flex justify-content-center gap-2">
                                        <button class="button_icon btn-noticia btn-editar" data-id="{{ noticia.id }}" data-bs-target="#Editar">
                                            <img src="{% static 'images/icons/edit.svg' %}" alt=""></img>
                                        </button>
                                        <button class="button_icon btn-noticia btn-detalhar" data-bs-toggle="modal" data-bs-target="#Detalhar" 
                                        data-id="{{ noticia.id }}">
                                            <img src="{% static 'images/icons/visibility.svg' %}" alt=""></img>
                                        </button>
                                        <button class="button_icon btn-noticia button_delete" data-bs-toggle="modal" data-bs-target="#Excluir" data-id="{{ noticia.id }}">
                                            <img src="{% static 'images/icons/delete.svg' %}" alt=""></img>
                                        </button>
                                    </div>
                                </td>
                            </tr>
        
                        {% empty %}
                            <tr>
                                <td colspan="6">Nenhuma notícia encontrada.</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

        {% include "cead/partials/modais_cursoPolo.html" %}
        {% include "cead/partials/modais_noticia.html" %}

    </main>

{% endblock content %}