{% extends "cead/partials/base.html" %}

{% load static %}

{% block style %}
    <link rel="stylesheet" href="{% static 'css/tabela.css' %}">
    <link rel="stylesheet" href="{% static 'css/modal.css' %}">
{% endblock style %}

{% block title %} Mediadores {% endblock title %}

{% block content %}

    <main>
        <h1 class="container d-flex justify-content-center mt-3">Mediadores</h1>
        
        <div class="d-flex mx-4 gap-3 jus">
            <form method="get" class="search_input d-flex p-0">
                <input type="text" name="query" class="form-control" placeholder="Buscar mediadores" value="{{ query }}">
                <button type="submit" class="p-2 ms-1 button_search">
                    <img src="{% static 'images/icons/search.svg' %}" alt="" class="icons_action"></img>
                </button>
            </form>
            
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modalCriarMediador">
                Criar
            </button>
        </div>
        <div class="table-responsive mx-4">
            <table class="table table-hover mt-3 table_rounded">
                <thead>
                    <tr class="text-center table_header">
                        <th>Curso Polo</th>
                        <th>Nome</th>
                        <th>E-mail</th>
                        <th>Telefone</th>
                        <th>Formação</th>
                        <th>Situação</th>
                        <th>Data de Publicação</th>
                        <th>Data de Edição</th>
                        <th>Ação</th>
                    </tr>
                </thead>
                <tbody>
                    {% for mediador in mediadors %}
                        <tr class="text-center table_body" data-id="{{ mediador.id }}">
                            <td>{{ mediador.curso_polo }}</td>
                            <td>{{ mediador.nome }}</td>
                            <td>{{ mediador.email }}</td>
                            <td>{{ mediador.telefone }}</td>
                            <td>{{ mediador.formacao }}</td>
                            <td>{{ mediador.get_situacao_display }}</td>
                            <td>{{ mediador.publicacao|date:"d/m/Y" }}</td>
                            <td>{{ mediador.edicao|date:"d/m/Y" }}</td>
                            <td>
                                <div class="icons_action d-flex justify-content-center gap-2">
                                    <button class="button_icon btn-editar" data-bs-toggle="modal" data-bs-target="#Editar" data-id="{{ mediador.id }}">
                                        <img src="{% static 'images/icons/edit.svg' %}" alt="Edit"></img>
                                    </button>

                                    <button class="button_icon btn-detalhar" data-bs-toggle="modal" data-bs-target="#Detalhar" data-id="{{ mediador.id }}">
                                        <img src="{% static 'images/icons/visibility.svg' %}" alt="View">
                                    </button>
                                    

                                    <button class="button_icon button_delete" data-bs-toggle="modal" data-bs-target="#Excluir" data-id="{{ mediador.id }}">
                                        <img src="{% static 'images/icons/delete.svg' %}" alt="Delete"></img>
                                    </button>
                                </div>
                                
                            </td>
                        </tr>

                    {% empty %}
                        <tr>
                            <td colspan="6">Nenhum mediador encontrado.</td>
                        </tr>
                    {% endfor %}
                </tbody>
              </table>
        </div>

        {% include "cead/partials/modais_mediadores.html" %}
    </main>

{% endblock content %}