{% extends "cead/partials/base.html" %}

{% load static %}

{% block style %}
    <link rel="stylesheet" href="{% static 'css/noticias.css' %}">
{% endblock style %}

{% block title %} Notícias {% endblock title %}

{% block content %}
    
    <main>
        <h1 class="container d-flex justify-content-center mt-3">Notícias</h1>
        
        <div class="table-responsive mx-4">
            <table class="table table-hover mt-3">
                <thead>
                    <tr class="text-center table_header">
                        <th>Curso</th>
                        <th>Título</th>
                        <th>Descrição</th>
                        <th>Publicação</th>
                        <th>Data de Edição</th>
                        <th>Ação</th>
                    </tr>
                </thead>
                <tbody>
                    {% for noticia in noticias %}
                        <tr class="text-center table_body">
                            <td>{{ noticia.id_curso }}</td>
                            <td>{{ noticia.titulo }}</td>
                            <td>{{ noticia.descricao }}</td>
                            <td>{{ noticia.publicacao }}</td>
                            <td>{{ noticia.edicao }}</td>
                            <td>
                                <div class="icons_action d-flex justify-content-center gap-2">
                                    <img src="{% static 'images/icons/edit.svg' %}" alt=""></img>
                                    <img src="{% static 'images/icons/visibility.svg' %}" alt=""></img>
                                    <img src="{% static 'images/icons/delete.svg' %}" alt=""></img>
                                </div>
                            </td>
                        </tr>

                    {% empty %}
                        <tr>
                            <td colspan="4">Nenhuma notícia encontrada.</td>
                        </tr>
                    {% endfor %}
                </tbody>
              </table>
        </div>
    </main>

{% endblock content %}