{% extends "cead/partials/base.html" %}

{% load static %}

{% block style %}
    <link rel="stylesheet" href="{% static 'css/tabela.css' %}">
    <link rel="stylesheet" href="{% static 'css/modal.css' %}">
{% endblock style %}

{% block title %} Notícias {% endblock title %}

{% block content %}
    
    <main>
        <h1 class="container d-flex justify-content-center mt-3">Notícias</h1>
        
        <div class="d-flex mx-4 gap-3 jus">
            <form method="get" class="search_input d-flex p-0">
                {{ search_noticia.query }}
                <button type="submit" class="p-2 ms-1">
                    <img src="{% static 'images/icons/search.svg' %}" alt="" class="icons_action"></img>
                </button>
            </form>
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modalCriarNoticia">
                Criar
            </button>
        </div>
        <div class="table-responsive mx-4">
            <table class="table table-hover mt-3 table_rounded">
                <thead>
                    <tr class="text-center table_header">
                        <th class="first_th">Curso</th>
                        <th>Título</th>
                        <th>Descrição</th>
                        <th>Publicação</th>
                        <th>Data de Edição</th>
                        <th>Ação</th>
                    </tr>
                </thead>
                <tbody>
                    {% for noticia in noticias %}
                        <tr class="text-center table_body">
                            <td>{{ noticia.curso }}</td>
                            <td>{{ noticia.titulo }}</td>
                            <td>{{ noticia.descricao }}</td>
                            <td>{{ noticia.publicacao|date:"d/m/Y" }}</td>
                            <td>{{ noticia.edicao|date:"d/m/Y" }}</td>
                            <td>
                                <div class="icons_action d-flex justify-content-center gap-2">
                                    <img src="{% static 'images/icons/edit.svg' %}" alt=""></img>
                                    <img src="{% static 'images/icons/visibility.svg' %}" alt=""></img>
                                    <img src="{% static 'images/icons/delete.svg' %}" alt=""></img>
                                </div>
                            </td>
                        </tr>

                    {% empty %}
                        <tr>
                            <td colspan="6">Nenhuma notícia encontrada.</td>
                        </tr>
                    {% endfor %}
                </tbody>
              </table>
        </div>

        {% include "cead/partials/modais_noticia.html" %}
    </main>

{% endblock content %}