{% extends "cead/partials/base.html" %}

{% load static %}

{% block style %}
    <link rel="stylesheet" href="{% static 'css/tabela.css' %}">
    <link rel="stylesheet" href="{% static 'css/modal.css' %}">
{% endblock style %}

{% block title %} Polos {% endblock title %}

{% block content %}
    
    <main>
        <h1 class="container d-flex justify-content-center mt-3">Polos</h1>
        
        <div class="d-flex mx-4 gap-3 jus">
            <form method="get" class="search_input d-flex p-0">
                <input type="text" name="query" class="form-control" placeholder="Buscar polos" value="{{ query }}">
                <button type="submit" class="p-2 ms-1 button_search">
                    <img src="{% static 'images/icons/search.svg' %}" alt="" class="icons_action"></img>
                </button>
            </form>
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modalCriarPolo">
                Criar
            </button>
        </div>
        <div class="table-responsive mx-4">
            <table class="table table-hover mt-3 table_rounded">
                <thead>
                    <tr class="text-center table_header">
                        <th>Cidade</th>
                        <th>Gestor</th>
                        <th>Ação</th>
                    </tr>
                </thead>
                <tbody>
                    {% for polo in polos %}
                        <tr class="text-center table_body" data-id="{{ polo.id }}">
                            <td>{{ polo.cidade }}</td>
                            <td>{{ polo.gestor}}</td>
                            <td>
                                <div class="icons_action d-flex justify-content-center gap-2">
                                    <button class="button_icon btn-editar" data-bs-toggle="modal" data-bs-target="#Editar" data-id="{{ polo.id }}">
                                        <img src="{% static 'images/icons/edit.svg' %}" alt="Edit"></img>
                                    </button>

                                    <button class="button_icon btn-detalhar" data-bs-toggle="modal" data-bs-target="#Detalhar" data-id="{{ polo.id }}">
                                        <img src="{% static 'images/icons/visibility.svg' %}" alt="View">
                                    </button>
                                    

                                    <button class="button_icon button_delete" data-bs-toggle="modal" data-bs-target="#Excluir" data-id="{{ polo.id }}">
                                        <img src="{% static 'images/icons/delete.svg' %}" alt="Delete"></img>
                                    </button>
                                </div>
                                
                            </td>
                        </tr>

                    {% empty %}
                        <tr>
                            <td colspan="6">Nenhum polo encontrado.</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

        {% include "cead/partials/modais_polo.html" %}
    </main>

{% endblock content %}