{% extends "cead/partials/base.html" %}

{% load static %}

{% block style %}
    <link rel="stylesheet" href="{% static 'css/tabela.css' %}">
    <link rel="stylesheet" href="{% static 'css/modal.css' %}">
{% endblock style %}

{% block title %} Polos {% endblock title %}

{% block content %}
    
    <main>
        <nav aria-label="breadcrumb" style="color: #FF2900;">
            <ol class="breadcrumb" style="color: #FF2900;">
                {% for crumb in breadcrumbs %}
                    <li class="breadcrumb-item" style="color: #FF2900;">
                        {{ crumb.name }}
                    </li>
                {% endfor %}
            </ol>
        </nav>
        
        
        <h1 class="container d-flex justify-content-center mt-3">Polos</h1>
        
        <div class="d-flex mx-4 gap-3 jus">
            <form method="get" class="search_input d-flex p-0">
                <input type="text" name="query" class="form-control" placeholder="Buscar polos" value="{{ query }}">
                <button type="submit" class="p-2 ms-1 button_search">
                    <img src="{% static 'images/icons/search.svg' %}" alt="" class="icons_action"></img>
                </button>
            </form>
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modalCriarPolo">
                Criar
            </button>
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modalVincular">
                Vincular
            </button>
        </div>
        <div class="table-responsive mx-4">
            <table class="table table-hover mt-3 table_rounded">
                <thead>
                    <tr class="text-center table_header">
                        <th>Cidade</th>
                        <th>Gestor</th>
                        <th>Ação</th>
                    </tr>
                </thead>
                <tbody>
                    {% for gestor_polo in gestor_polos %}
                        <tr class="text-center table_body">
                            <td>{{ gestor_polo.polo.cidade }}</td>
                            <td>{{ gestor_polo.gestor.nome}}</td>
                            <td>
                                <div class="icons_action d-flex justify-content-center gap-2">
                                    <button class="button_icon editar-polo" data-bs-toggle="modal" data-bs-target="#EditarPolo" data-id="{{ gestor_polo.polo.id }}-{{ gestor_polo.gestor.id }}">
                                        <img src="{% static 'images/icons/edit.svg' %}" alt="Edit"></img>
                                    </button>

                                    <button class="button_icon detalhar-polo" data-bs-toggle="modal" data-bs-target="#DetalharPolo" data-id="{{ gestor_polo.polo.id }}-{{ gestor_polo.gestor.id }}">
                                        <img src="{% static 'images/icons/visibility.svg' %}" alt="View">
                                    </button>
                                    

                                    <button class="button_icon button_delete" data-bs-toggle="modal" data-bs-target="#ExcluirPolo" data-id="{{ gestor_polo.polo.id }}-{{ gestor_polo.gestor.id }}">
                                        <img src="{% static 'images/icons/delete.svg' %}" alt="Delete"></img>
                                    </button>
                                </div>
                                
                            </td>
                        </tr>

                    {% empty %}
                        <tr>
                            <td colspan="6">Nenhum polo encontrado.</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>


        <nav aria-label="Page navigation">
            <ul class="pagination justify-content-center">
            {% if gestor_polos.has_previous %}
                    <li class="page-item">
                        <a class="page-link" href="?status={{ status }}&p=1">&laquo;</a>
                    </li>
                    <li class="page-item"> 
                        <a class="page-link" href="?status={{ status }}&p={{ gestor_polos.previous_page_number }}">Anterior</a>
                    </li>
            {% else  %}
                    <li class="page-item disabled">
                        <a class="page-link" href="#">&laquo;</a>
                    </li>
                    <li class="page-item disabled"> 
                        <a class="page-link" href="#">Anterior</a>
                    </li>
            {% endif %}
                    <li class="page-item">
                        <a class="page-link">{{gestor_polos.number}}</a>
                    </li>
            {% if gestor_polos.has_next %}
                    <li class="page-item">
                        <a class="page-link" href="?status={{ status }}&p={{ gestor_polos.next_page_number }}">Próxima</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="?status={{ status }}&p={{ gestor_polos.paginator.num_pages }}">&raquo;</a>
                    </li>
            {% else %}
                    <li class="page-item disabled">
                        <a class="page-link" href="">Próxima</a>
                    </li>
                    <li class="page-item disabled">
                        <a class="page-link" href="#">&raquo;</a>
                    </li>
            {% endif %}
            </ul>
        </nav>
          

        {% include "cead/partials/modais_polo.html" %}
    </main>

{% endblock content %}