{% load static %}

<!-- Criar -->
<div class="modal fade" id="modalCriarContato" tabindex="-1" aria-labelledby="modalCriarContatoLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header justify-content-between">
                <span></span>
                <h5 class="modal-title" id="modalCriarContatoLabel">Contato</h5>
                <button type="button" class="button_close" data-bs-dismiss="modal" aria-label="Close">
                    <img src="{% static 'images/icons/close.svg' %}" alt="" class="icons_action"></img>
                </button>
            </div>
            <div class="modal-body">
                <form id="formCriarContato" method="post" action="{% url 'coo:contato_lista' %}">
                    {% csrf_token %}
                    
                    <div class="input">
                        {{ make_contato.as_p }}
                    </div>
                    <div class="d-flex justify-content-center">
                        <button type="submit" class="btn d-flex justify-content-center">Salvar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Excluir -->
<div class="modal fade" id="ExcluirContato" tabindex="-1" aria-labelledby="Excluir" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content d-flex justify-content-center">
            <div class="modal-header d-flex justify-content-center position-relative">
                <span></span>
                <h5 class="modal-title text-center" id="Excluir">Confirmação</h5>
                
            </div>
            <div class="modal-body">
                <p class="text-center text-modal">
                    Tem certeza de que deseja excluir?
                </p>
            </div>
            <div class="modal-footer justify-content-center gap-5">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Não</button>
                <button type="button" id="excluir-noticia" class="btn btn-danger">Sim</button>
            </div>
        </div>
    </div>
</div>

<!-- Detalhar -->
<div class="modal fade" id="DetalharContato" tabindex="-1" aria-labelledby="DetalharLabel" aria-hidden="true">

    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header d-flex justify-content-center">
                <h5 class="modal-title" id="DetalharContatoLabel">Detalhes do Contato</h5>
            </div>

            <div class="modal-body">
                <div class="mb-3">
                    <h5 class="mb-1">Curso</h5>
                    <p id="detalheCurso" class="form-control bg-light"></p>
                </div>
                <div class="mb-3">
                    <h5 class="mb-1">Nome</h5>
                    <p id="detalheNome" class="form-control bg-light"></p>
                </div>
                <div class="mb-3">
                    <h5 class="mb-1">Matrícula</h5>
                    <p id="detalheMatricula" class="form-control bg-light"></p>
                </div>
                <div class="mb-3">
                    <h5 class="mb-1">E-mail</h5>
                    <p id="detalheEmail" class="form-control bg-light"></p>
                </div>
                <div class="mb-3">
                    <h5 class="mb-1">Telefone</h5>
                    <p id="detalheTelefone" class="form-control bg-light"></p>
                </div>
                <div class="mb-3">
                    <h5 class="mb-1">Assunto</h5>
                    <p id="detalheAssunto" class="form-control bg-light"></p>
                </div>
                <div class="mb-3">
                    <h5 class="mb-1">Mensagem</h5>
                    <p id="detalheMensagem" class="form-control bg-light"></p>
                </div>
                <div class="mb-3">
                    <h5 class="mb-1">Data de Publicação</h5>
                    <p id="detalhePublicacao" class="form-control bg-light"></p>
                </div>
                <div class="mb-3">
                    <h5 class="mb-1">Data de Edição</h5>
                    <p id="detalheEdicao" class="form-control bg-light"></p>
                </div>
            </div>
            <div class="modal-footer d-flex justify-content-center">
                <button type="button" class="btn btn-secondary mb-3" data-bs-dismiss="modal">Fechar</button>
            </div>
        </div>
    </div>
</div>

<!-- Editar-->
<div id="EditarContato" class="modal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header justify-content-between">
                <span></span>
                <h5 class="modal-title">Editar Contato</h5>
                <button type="button" class="button_close" data-bs-dismiss="modal" aria-label="Close">
                    <img src="{% static 'images/icons/close.svg' %}" alt="" class="icons_action"></img>
                </button>
            </div>
            <div class="modal-body">

                <form id="editarContatoForm" method="POST">
                    {% csrf_token %}

                    <input type="hidden" id="contatoId" name="contatoId">

                    <div class="mb-3">
                        <label for="editarCurso" class="form-label">Curso</label>
                        <select class="form-select" id="editarCurso" name="curso" required>
                            <option value="">Selecione o curso</option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="editarNome" class="form-label">Nome</label>
                        <input type="text" class="form-control" id="editarNome" name="nome" value="{{ contato.nome }}">
                    </div>
                    <div class="mb-3">
                        <label for="editarMatricula" class="form-label">Matrícula</label>
                        <input type="email" class="form-control" id="editarMatricula" name="email" value="{{ contato.matricula }}">
                    </div>
                    <div class="mb-3">
                        <label for="editarEmail" class="form-label">E-mail</label>
                        <input type="email" class="form-control" id="editarEmail" name="email" value="{{ contato.email }}">
                    </div>
                    <div class="mb-3">
                        <label for="editarTelefone" class="form-label">Telefone</label>
                        <input type="text" class="form-control" id="editarTelefone" name="telefone" value="{{ contato.telefone }}">
                    </div>
                    <div class="mb-3">
                        <label for="editarAssunto" class="form-label">Assunto</label>
                        <input type="text" class="form-control" id="editarAssunto" name="assunto" value="{{ contato.assunto }}">
                    </div>
                    <div class="mb-3">
                        <label for="editarMensagem" class="form-label">Mensagem</label>
                        <textarea class="form-control" id="editarMensagem" name="mensagem">{{ contato.mensagem }}</textarea>
                    </div>
                    <div class="d-flex justify-content-center">
                        <button type="submit" class="btn btn-primary d-flex justify-content-center mb-3">Salvar alterações</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script>
    $(document).ready(function() {
        $('#formCriarContato').on('submit', function(e) {

            e.preventDefault();
            $.ajax({
                type: 'POST',
                url: "{% url 'coo:criar_contato' %}",
                data: $(this).serialize(),
                success: function(response) {
                    if (response.success) {
                        alert("Contato criada com sucesso!");
                        location.reload();
                    } else {
                        alert("Erro ao criar contato: " + JSON.stringify(response.errors));
                    }
                }
            });
        });
        
        $('.button_icon').on('click', function() {
            dataId = $(this).data('id');
            contatoId = dataId;
        });

        $('#ExcluirContato').on('click', function() {

            $.ajax({
                type: 'POST',
                url: `excluir_contato/${contatoId}/`, 
                data: {
                    csrfmiddlewaretoken: '{{ csrf_token }}',
                },
                success: function(response) {
                    if (response.success) {
                        $(`tr[data-id="${contatoId}"]`).remove();
                        $('#Excluir').modal('hide');
                        location.reload();
                    } else {
                        alert("Erro ao excluir contato.");
                    }
                },
                error: function(xhr, status, error) {
                    alert("Erro na requisição de exclusão: " + error);
                }
            });
        });

        $('#DetalharContato').on('click', function() {
            console.log('opa')

            $.ajax({
                type: 'GET',
                url: `detalhar_contato/${contatoId}/`,
                success: function(response) {
                    $('#detalheCurso').text(response.curso);
                    console.log(response.curso)
                    $('#detalheNome').text(response.nome);
                    $('#detalheMatricula').text(response.matricula);
                    $('#detalheEmail').text(response.email);
                    $('#detalheTelefone').text(response.telefone);
                    $('#detalheAssunto').text(response.assunto);
                    $('#detalheMensagem').text(response.mensagem);
                    $('#detalhePublicacao').text(response.publicacao);
                    $('#detalheEdicao').text(response.edicao);
                },
                error: function(xhr, status, error) {
                    alert("Erro ao carregar detalhes do contato." + error);
                }
            });
        });
        
    });
</script>